openapi: 3.2.0
info:
  title: Patch Io Technology Types API
  version: '2'
  x-refined-note:
  - x-api-id differs across the merged source definitions and was not carried
  description: 'Operations tagged Technology Types across 2 of this provider''s published API definitions: patch-io-carbon-api-openapi.yml, patch-io-patch-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.patch.io
  description: Production API
tags:
- name: Technology Types
  description: List the technology and parent technology types backing Patch's carbon project taxonomy.
paths:
  /v1/projects/technology_types:
    get:
      tags:
      - Technology Types
      operationId: retrieveTechnologyTypes
      summary: List Technology Types
      description: Returns the full taxonomy of project technology types (and parent technology types) used to classify Patch projects.
      responses:
        '200':
          description: Technology type list response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TechnologyTypeListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.patch.io
      description: Production API
components:
  schemas:
    Meta:
      type: object
      description: Pagination and response metadata block returned on list endpoints.
      properties:
        prev_page:
          type:
          - integer
          - 'null'
        next_page:
          type:
          - integer
          - 'null'
    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code:
              type: integer
            message:
              type: string
        data: {}
        meta:
          type: object
          properties:
            patch_version:
              type: integer
    TechnologyType:
      type: object
      properties:
        slug:
          type: string
          example: dac
        name:
          type: string
          example: Direct Air Capture
        parent_technology_type:
          $ref: '#/components/schemas/ParentTechnologyType'
    ParentTechnologyType:
      type: object
      properties:
        slug:
          type: string
        name:
          type: string
    TechnologyTypeListResponse:
      type: object
      properties:
        success:
          type: boolean
        error: {}
        data:
          type: array
          items:
            $ref: '#/components/schemas/TechnologyType'
        meta:
          $ref: '#/components/schemas/Meta'
    MetaIndexObject:
      type: object
      description: Pagination metadata
      properties:
        has_more:
          type: boolean
          description: Whether there are more records to retrieve
        next_page:
          type:
          - integer
          - 'null'
          description: The next page number, if available
        current_page:
          type: integer
          description: The current page number
    ErrorResponse_2:
      type: object
      description: API error response
      properties:
        success:
          type: boolean
          example: false
          description: Always false for error responses
        error:
          type: string
          description: Error message describing what went wrong
    TechnologyType_2:
      type: object
      description: A carbon removal technology type
      properties:
        slug:
          type: string
          description: URL-friendly slug identifier
        name:
          type: string
          description: Human-readable name of the technology type
        parent_technology_type:
          $ref: '#/components/schemas/ParentTechnologyType_2'
    ParentTechnologyType_2:
      type: object
      description: Parent category for a technology type
      properties:
        slug:
          type: string
          description: URL-friendly slug identifier
        name:
          type: string
          description: Human-readable name of the parent technology type
    TechnologyTypeListResponse_2:
      type: object
      description: API response wrapping a list of TechnologyTypes
      properties:
        success:
          type: boolean
          description: Whether the request was successful
        error:
          type:
          - string
          - 'null'
          description: Error message if the request failed
        data:
          type: array
          items:
            $ref: '#/components/schemas/TechnologyType_2'
        meta:
          $ref: '#/components/schemas/MetaIndexObject'
  responses:
    Unauthorized:
      description: API key missing, malformed, or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key bearer token issued from the Patch dashboard. Sandbox and live keys are separated.
    bearer_auth:
      type: http
      scheme: bearer
      description: 'Bearer token API key obtained from the Patch dashboard. Use test keys for sandbox and production keys for live orders.

        '
x-refined-from:
- patch-io-carbon-api-openapi.yml
- patch-io-patch-api-openapi.yml
