openapi: 3.0.3
info:
  title: Patch Carbon Order Line Items Technology Types API
  version: '2'
  description: 'The Patch API lets developers browse verified carbon projects, generate

    emissions estimates, and place orders for carbon credits and removals.

    Reconstructed from the publicly published patch-python, patch-node, and

    patch-ruby SDKs (auto-generated by openapi-generator from the official

    Patch OpenAPI document).

    '
  contact:
    name: Patch Engineering
    email: engineering@usepatch.com
    url: https://docs.patch.io/
  license:
    name: Proprietary
    url: https://www.patch.io/terms
servers:
- url: https://api.patch.io
  description: Production API
security:
- bearerAuth: []
tags:
- name: Technology Types
  description: List the technology and parent technology types backing Patch's carbon project taxonomy.
paths:
  /v1/projects/technology_types:
    get:
      tags:
      - Technology Types
      operationId: retrieveTechnologyTypes
      summary: List Technology Types
      description: Returns the full taxonomy of project technology types (and parent technology types) used to classify Patch projects.
      responses:
        '200':
          description: Technology type list response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TechnologyTypeListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code:
              type: integer
            message:
              type: string
        data:
          nullable: true
        meta:
          type: object
          properties:
            patch_version:
              type: integer
    TechnologyType:
      type: object
      properties:
        slug:
          type: string
          example: dac
        name:
          type: string
          example: Direct Air Capture
        parent_technology_type:
          $ref: '#/components/schemas/ParentTechnologyType'
    Meta:
      type: object
      description: Pagination and response metadata block returned on list endpoints.
      properties:
        prev_page:
          type: integer
          nullable: true
        next_page:
          type: integer
          nullable: true
    TechnologyTypeListResponse:
      type: object
      properties:
        success:
          type: boolean
        error:
          nullable: true
        data:
          type: array
          items:
            $ref: '#/components/schemas/TechnologyType'
        meta:
          $ref: '#/components/schemas/Meta'
    ParentTechnologyType:
      type: object
      properties:
        slug:
          type: string
        name:
          type: string
  responses:
    Unauthorized:
      description: API key missing, malformed, or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key bearer token issued from the Patch dashboard. Sandbox and live keys are separated.
