openapi: 3.2.0
info:
  title: Patch Io Projects API
  version: '2'
  x-refined-note:
  - x-api-id differs across the merged source definitions and was not carried
  description: 'Operations tagged Projects across 2 of this provider''s published API definitions: patch-io-carbon-api-openapi.yml, patch-io-patch-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.patch.io
  description: Production API
tags:
- name: Projects
  description: Browse and retrieve verified carbon projects across removal and avoidance categories.
paths:
  /v1/projects:
    get:
      tags:
      - Projects
      operationId: retrieveProjects
      summary: List Projects
      description: Returns a paginated list of verified carbon projects available for purchase through Patch.
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - name: country
        in: query
        schema:
          type: string
        description: ISO 3166-1 alpha-2 country code filter.
      - name: type
        in: query
        schema:
          type: string
        description: Filter by project type slug (for example biomass, dac, mineralization, redd_plus).
      - name: minimum_available_mass
        in: query
        schema:
          type: integer
        description: Minimum available mass (in grams) the project must have in inventory.
      responses:
        '200':
          description: Project list response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.patch.io
      description: Production API
  /v1/projects/{id}:
    get:
      tags:
      - Projects
      operationId: retrieveProject
      summary: Retrieve A Project
      description: Returns a single verified carbon project by ID.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Project response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.patch.io
      description: Production API
components:
  schemas:
    Meta:
      type: object
      description: Pagination and response metadata block returned on list endpoints.
      properties:
        prev_page:
          type:
          - integer
          - 'null'
        next_page:
          type:
          - integer
          - 'null'
    ProjectResponse:
      type: object
      properties:
        success:
          type: boolean
        error: {}
        data:
          $ref: '#/components/schemas/Project'
        meta:
          $ref: '#/components/schemas/Meta'
    Project:
      type: object
      description: A verified carbon project listed on Patch.
      properties:
        id:
          type: string
        production:
          type: boolean
        name:
          type: string
        description:
          type: string
        mechanism:
          type: string
          description: Removal or avoidance.
        country:
          type: string
        state:
          type: string
        issuance_type:
          type: string
        latitude:
          type: number
          format: float
        longitude:
          type: number
          format: float
        project_partner:
          type: string
        photos:
          type: array
          items:
            $ref: '#/components/schemas/Photo'
        verifier:
          type: string
        standard:
          $ref: '#/components/schemas/Standard'
        sdgs:
          type: array
          items:
            $ref: '#/components/schemas/Sdg'
        tagline:
          type: string
        technology_type:
          $ref: '#/components/schemas/TechnologyType'
        highlights:
          type: array
          items:
            $ref: '#/components/schemas/Highlight'
        inventory:
          type: array
          items:
            $ref: '#/components/schemas/Inventory'
        disclaimers:
          type: array
          items:
            $ref: '#/components/schemas/Disclaimer'
    Highlight:
      type: object
      properties:
        headline:
          type: string
        details:
          type: string
    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code:
              type: integer
            message:
              type: string
        data: {}
        meta:
          type: object
          properties:
            patch_version:
              type: integer
    ProjectListResponse:
      type: object
      properties:
        success:
          type: boolean
        error: {}
        data:
          type: array
          items:
            $ref: '#/components/schemas/Project'
        meta:
          $ref: '#/components/schemas/Meta'
    Sdg:
      type: object
      description: UN Sustainable Development Goal alignment.
      properties:
        number:
          type: integer
        title:
          type: string
        description:
          type: string
    Standard:
      type: object
      description: Carbon registry / standard the project is certified under (Verra, Gold Standard, Puro, ACR, CAR, etc.).
      properties:
        type:
          type: string
        acronym:
          type: string
    Disclaimer:
      type: object
      properties:
        title:
          type: string
        body:
          type: string
    TechnologyType:
      type: object
      properties:
        slug:
          type: string
          example: dac
        name:
          type: string
          example: Direct Air Capture
        parent_technology_type:
          $ref: '#/components/schemas/ParentTechnologyType'
    Inventory:
      type: object
      description: Available inventory broken out by vintage and price.
      properties:
        vintage_year:
          type:
          - integer
          - 'null'
        vintage_start_year:
          type:
          - integer
          - 'null'
        vintage_end_year:
          type:
          - integer
          - 'null'
        amount_available:
          type: integer
          description: Available mass in grams.
        price:
          type: integer
          description: Per-tonne price in minor currency units.
        currency:
          type: string
          example: USD
    Photo:
      type: object
      properties:
        id:
          type: string
        url:
          type: string
          format: uri
    ParentTechnologyType:
      type: object
      properties:
        slug:
          type: string
        name:
          type: string
    ProjectResponse_2:
      type: object
      description: API response wrapping a Project
      properties:
        success:
          type: boolean
          description: Whether the request was successful
        error:
          type:
          - string
          - 'null'
          description: Error message if the request failed
        data:
          $ref: '#/components/schemas/Project_2'
    Project_2:
      type: object
      description: A carbon removal project available on the Patch platform
      properties:
        id:
          type: string
          description: Unique identifier for the project
        production:
          type: boolean
          description: Whether this is a production (vs. test) project
        name:
          type: string
          description: Name of the project
        description:
          type: string
          description: Detailed description of the project
        mechanism:
          type: string
          description: Carbon removal mechanism (e.g., avoidance, removal)
        country:
          type: string
          description: ISO 3166-1 alpha-2 country code where the project is located
        state:
          type: string
          description: Current state of the project
        issuance_type:
          type: string
          description: Type of carbon credit issuance
        latitude:
          type: number
          format: float
          description: Geographic latitude of the project
        longitude:
          type: number
          format: float
          description: Geographic longitude of the project
        project_partner:
          type: string
          description: Name of the project partner or developer
        photos:
          type: array
          items:
            $ref: '#/components/schemas/Photo_2'
          description: Photos of the project
        verifier:
          type: string
          description: Third-party verifier or certifier
        standard:
          $ref: '#/components/schemas/Standard_2'
        sdgs:
          type: array
          items:
            $ref: '#/components/schemas/Sdg_2'
          description: UN Sustainable Development Goals supported by this project
        tagline:
          type: string
          description: Short tagline for the project
        technology_type:
          $ref: '#/components/schemas/TechnologyType_2'
        highlights:
          type: array
          items:
            $ref: '#/components/schemas/Highlight_2'
          description: Key highlights of the project
        inventory:
          $ref: '#/components/schemas/Inventory_2'
        disclaimers:
          type: array
          items:
            $ref: '#/components/schemas/Disclaimer_2'
          description: Legal disclaimers for the project
    Highlight_2:
      type: object
      description: A key highlight of a project
      properties:
        title:
          type: string
          description: Title of the highlight
        description:
          type: string
          description: Description of the highlight
    ErrorResponse_2:
      type: object
      description: API error response
      properties:
        success:
          type: boolean
          example: false
          description: Always false for error responses
        error:
          type: string
          description: Error message describing what went wrong
    MetaIndexObject:
      type: object
      description: Pagination metadata
      properties:
        has_more:
          type: boolean
          description: Whether there are more records to retrieve
        next_page:
          type:
          - integer
          - 'null'
          description: The next page number, if available
        current_page:
          type: integer
          description: The current page number
    Sdg_2:
      type: object
      description: UN Sustainable Development Goal
      properties:
        number:
          type: integer
          description: SDG number (1-17)
        title:
          type: string
          description: SDG title
        link:
          type: string
          format: uri
          description: URL to the SDG page
    ProjectListResponse_2:
      type: object
      description: API response wrapping a list of Projects
      properties:
        success:
          type: boolean
          description: Whether the request was successful
        error:
          type:
          - string
          - 'null'
          description: Error message if the request failed
        data:
          type: array
          items:
            $ref: '#/components/schemas/Project_2'
        meta:
          $ref: '#/components/schemas/MetaIndexObject'
    Standard_2:
      type: object
      description: Carbon standard or certification
      properties:
        name:
          type: string
          description: Name of the standard (e.g., Gold Standard, VCS)
        link:
          type: string
          format: uri
          description: URL to the standard's website
    Disclaimer_2:
      type: object
      description: A legal disclaimer for a project
      properties:
        content:
          type: string
          description: Text of the disclaimer
    TechnologyType_2:
      type: object
      description: A carbon removal technology type
      properties:
        slug:
          type: string
          description: URL-friendly slug identifier
        name:
          type: string
          description: Human-readable name of the technology type
        parent_technology_type:
          $ref: '#/components/schemas/ParentTechnologyType_2'
    Inventory_2:
      type: object
      description: Inventory information for a project
      properties:
        amount_available:
          type: integer
          description: Amount of carbon credits available in grams
        unit:
          type: string
          description: Unit of measurement
    Photo_2:
      type: object
      description: A photo associated with a project
      properties:
        url:
          type: string
          format: uri
          description: URL of the photo
    ParentTechnologyType_2:
      type: object
      description: Parent category for a technology type
      properties:
        slug:
          type: string
          description: URL-friendly slug identifier
        name:
          type: string
          description: Human-readable name of the parent technology type
  responses:
    Unauthorized:
      description: API key missing, malformed, or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    PageParam:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
      description: 1-indexed page number for paginated responses.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key bearer token issued from the Patch dashboard. Sandbox and live keys are separated.
    bearer_auth:
      type: http
      scheme: bearer
      description: 'Bearer token API key obtained from the Patch dashboard. Use test keys for sandbox and production keys for live orders.

        '
x-refined-from:
- patch-io-carbon-api-openapi.yml
- patch-io-patch-api-openapi.yml
